@model DeStaProduction.ViewModels.EventTypeViewModel

<section class="create-page">

    <div class="create-container small-form">

        <h2>Добави вид събитие</h2>

        <form method="post">

            <div class="form-group">
                <label>Име</label>
                <input asp-for="Name" class="form-control" />
            </div>

            <button class="btn-create">Създай</button>

        </form>

    </div>

</section>