@model DeStaProduction.ViewModels.EventTypeViewModel

<section class="create-page">

    <div class="create-container small-form">

        <h2>Сигурен ли си?</h2>

        <p style="text-align:center;">
            Ще изтриеш: <strong>@Model.Name</strong>
        </p>

        <form asp-action="DeleteConfirmd" method="post">
            <input type="hidden" asp-for="Id" />

            <button class="btn-delete">Изтрий</button>
        </form>

    </div>

</section>