@using DeStaProduction.ViewModels
@model EventTypeViewModel

<h2>Изтрий категория събитие</h2>

<h4>Сигурен ли сте, че искате да изтриете тази категория събитие?</h4>

<div class="mb-3">
    <strong>Name:</strong> @Model.Name
</div>

<form asp-action="DeleteConfirmd" asp-controller="EventType" method="post">
    <input type="hidden" asp-for="Id" />

    <button type="submit" class="btn btn-danger">Изтрий</button>
    <a asp-action="Index" asp-controller="EventType" class="btn btn-secondary">
        Отхвърли
    </a>
</form>