@model IEnumerable<DeStaProduction.ViewModels.EventTypeViewModel>

<section class="performances-page">

    <div class="top-bar">
        <h1 class="page-title">Видове събития</h1>

        <a asp-action="Create" class="btn-add">
            + Добави
        </a>
    </div>

    <div class="performances-grid">

        @foreach (var item in Model)
        {
            <div class="performance-box small">

                <h3>@item.Name</h3>

                <form asp-action="Delete" method="get">
                    <input type="hidden" name="id" value="@item.Id" />
                    <button class="btn-delete">Изтрий</button>
                </form>

            </div>
        }

    </div>

</section>