@if (User.IsInRole("Admin"))
{
    <h2>Add Performance</h2>

    <form method="post">
        <select name="performanceId" asp-items="ViewBag.Performances" class="form-control mb-2"></select>

        <select name="actorIds" asp-items="ViewBag.Actors" multiple class="form-control mb-2"></select>

        <button class="btn btn-primary">Add</button>
    </form>
}