@model List<(DeStaProduction.Infrastucture.Entities.DeStaUser user, IList<string> roles)>

<section class="admin-page">

    <h1 class="page-title">Админ панел</h1>

    <div class="admin-grid">

        @foreach (var item in Model)
        {
            <div class="admin-card">

                <h3>@item.user.FirstName</h3>
                <h3>@item.user.LastName</h3>
                <p>@item.user.Email</p>

                <p class="role">
                    @string.Join(", ", item.roles)
                </p>

            </div>
        }

    </div>

</section>