@model DeStaProduction.Infrastucture.Entities.Schedule

<h2>My Task</h2>

<form method="post">
    <input asp-for="Date" type="datetime-local" class="form-control mb-2" />

    <textarea asp-for="Notes" class="form-control mb-2"></textarea>

    <button class="btn btn-secondary">Save</button>
</form>