@model DeStaProduction.Infrastucture.Entities.Schedule
@{
    var performances = ViewBag.Performances;
}

<div class="theater-form-container">

    <h2 class="form-title">📋 Моите задачи</h2>

    <form method="post" class="theater-form">

        <div class="form-group">
            <label>📅 Дата</label>
            <input asp-for="Date" type="datetime-local" class="form-control" />
        </div>

        <div class="form-group">
            <label>🎭 Представление</label>
            <select asp-for="PerformanceId" class="form-control">
                @foreach (var performance in performances)
                {
                    <option value="@performance.Value">@performance.Text</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label>📝 Описание</label>
            <textarea asp-for="Notes" class="form-control"></textarea>
        </div>

        <button class="btn theater-btn">
            🎬 Запази
        </button>

    </form>
</div>