@model IEnumerable<DeStaProduction.Infrastucture.Entities.DeStaUser>

<section class="admin-page">

    <h1 class="page-title">Чакащи потребители</h1>

    <div class="admin-grid">

        @foreach (var user in Model)
        {
            <div class="admin-card">

                <h3>@user.UserName</h3>
                <p>@user.Email</p>

                <form asp-action="Approve" method="post">

                    <input type="hidden" name="userId" value="@user.Id" />

                    <select name="role" class="form-control">
                        <option value="User">Потребител</option>
                        <option value="Artist">Актьор</option>
                    </select>

                    <button class="btn-create">Одобри</button>

                </form>

            </div>
        }

    </div>

</section>