@using DeStaProduction.Infrastucture.Entities
@model Location

<h2>Create Location</h2>

<form method="post">
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="City"></label>
        <input asp-for="City" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Capacity"></label>
        <input asp-for="Capacity" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Create</button>
</form>

