@model DeStaProduction.ViewModels.LocationViewModel

<section class="create-page">

    <div class="create-container small-form">

        <h2>Изтриване</h2>

        <p style="text-align:center;">
            Сигурен ли си, че искаш да изтриеш:
            <strong>@Model.Name</strong>?
        </p>

        <form asp-action="DeleteConfirmd" method="post">
            <input type="hidden" asp-for="Id" />

            <button class="btn-delete">Изтрий</button>
        </form>

    </div>

</section>