@model DeStaProduction.ViewModels.LocationViewModel

<section class="details-page">

    <div class="details-container">

        <h2>@Model.Name</h2>
        @if (Model.Capacity > 500 || Model.Capacity == 500)
        {
            <div class="badge-big">
                ⭐ Голяма сцена
            </div>
        }
        <div class="details-grid">

            <div class="detail-box">
                <span>📍 Град</span>
                <p>@Model.City</p>
            </div>

            <div class="detail-box">
                <span>👥 Капацитет</span>
                <p>@Model.Capacity</p>
            </div>

            <div class="detail-box full">
                <span>📌 Адрес</span>
                <p>@Model.Address</p>
            </div>

        </div>

        <div class="details-actions">
            <a asp-action="Index" class="btn-details">⬅ Назад</a>
        </div>

    </div>

</section>