@using DeStaProduction.ViewModels
@model LocationViewModel

<h2>Детайли за Локацията</h2>

<p><strong>Име:</strong> @Model.Name</p>
<div class="mb-3">
    <strong>Адрес:</strong> @Model.Address
</div>
<p><strong>Град:</strong> @Model.City</p>
<p><strong>Капацитет на залата:</strong> @Model.Capacity</p>

<a asp-action="Index" class="btn btn-secondary">Върни</a>
