@using DeStaProduction.ViewModels
@model LocationViewModel

<h2>Location Details</h2>

<p><strong>Name:</strong> @Model.Name</p>
<div class="mb-3">
    <strong>Address:</strong> @Model.Address
</div>
<p><strong>City:</strong> @Model.City</p>
<p><strong>Capacity:</strong> @Model.Capacity</p>

<a asp-action="Index" class="btn btn-secondary">Back</a>
