@model DeStaProduction.ViewModels.PerformanceViewModel

<section class="create-page">

    <div class="create-container">

        <h2>Създай представление</h2>

        <form method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label>Заглавие</label>
                <input asp-for="Title" class="form-control" />
            </div>

            <div class="form-group">
                <label>Описание</label>
                <textarea asp-for="Description" class="form-control"></textarea>
            </div>

            <div class="form-row">

                <div class="form-group">
                    <label>Дата</label>
                    <input asp-for="Date" type="datetime-local" class="form-control" />
                </div>

                <div class="form-group">
                    <label>Събитие</label>
                    <select asp-for="EventId" asp-items="ViewBag.Events" class="form-control"></select>
                </div>

            </div>

            <div class="form-group">
                <label>Локация</label>
                <select asp-for="LocationId" asp-items="ViewBag.Locations" class="form-control"></select>
            </div>

            <button class="btn-create">Създай</button>

        </form>

    </div>

</section>