<div class="ticket-container">
    <h2 class="ticket-title">✅ Успешно</h2>

    <p class="ticket-success-text">
        Заповядайте 30 минути преди началото<br />
        да получите билетите си от касата.
    </p>
</div>