@using DeStaProduction.ViewModels
@model EventViewModel

<div class="create-container">
    <h1 class="create-title">🎬 Добави спектакъл</h1>

    <form asp-action="Create" method="post" enctype="multipart/form-data">

        <div class="form-group">
            <label>Заглавие</label>
            <input asp-for="Title" class="form-control theater-input" />
        </div>

        <div class="form-group">
            <label>Описание</label>
            <textarea asp-for="Description" class="form-control theater-input"></textarea>
        </div>

        <div class="form-group">
            <label>Продължителност (мин)</label>
            <input asp-for="Duration" class="form-control theater-input" />
        </div>

        <div class="form-group">
            <label>Тип</label>
            <select asp-for="EventType" asp-items="ViewBag.EventTypes" class="form-control theater-input"></select>
        </div>

        <div class="form-group">
            <label>🎬 Плакат</label>
            <input type="file" asp-for="ImageFile" class="form-control theater-input" />
        </div>

        <button type="submit" class="theater-btn">
            Създай спектакъл
        </button>

    </form>
</div>