<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DeStaProduction</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DeStaProduction.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="netflix-nav">
            <div class="nav-left">
                <a class="logo" asp-controller="Home" asp-action="Index">DeStaProduction 🎭</a>

                <a asp-controller="Home" asp-action="Index">Начало</a>
                <a asp-controller="Performance" asp-action="Index">Представления</a>
                <a asp-controller="Schedule" asp-action="Index">График</a>

                @if (User.IsInRole("Admin"))
                {
                    <a asp-controller="EventType" asp-action="Index">Вид събитие</a>
                    <a asp-controller="Location" asp-action="Index">Локации</a>
                    <a asp-controller="Event" asp-action="Index">Репертоар</a>
                    <a asp-controller="Admin" asp-action="PendingUsers">Потребители</a>
                    <a asp-controller="Admin" asp-action="Index">Админ</a>
                }
            </div>

            <div class="nav-right">
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - DeStaProduction - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

.netflix-nav {
    background: linear-gradient(to right, #000, #111);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.netflix-nav a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
}

.netflix-nav a:hover {
    color: red;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: red !important;
}

.nav-right {
    color: white;
}
