<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DeStaProduction</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DeStaProduction.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar custom-navbar">
            <div class="nav-left">

                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img src="/images/logo.jpg" class="logo">
                    <span class="brand-text">DeSta Production</span>
                </a>

                <a class="nav-link" asp-controller="Home" asp-action="Index">Начало</a>
                @if (User?.Identity?.IsAuthenticated ?? false)
                {
                    <a class="nav-link" asp-controller="Performance" asp-action="Index">Представления</a>
                    <a class="nav-link" asp-controller="Performance" asp-action="Filter">Търсене</a>
                    <a class="nav-link" asp-controller="Schedule" asp-action="Index">График</a>
                        <a class="nav-link" asp-controller="Event" asp-action="Index">
                            Репертоар
                        </a>
                }

                @if (User.IsInRole("Admin"))
                {
                    <div class="dropdown admin-dropdown">
                        <a class="nav-link dropdown-toggle admin-link" href="#" role="button" data-bs-toggle="dropdown">
                            ⚙️ Админ
                        </a>

                        <ul class="dropdown-menu custom-dropdown">

                            <li>
                                <a class="dropdown-item" asp-controller="EventType" asp-action="Index">
                                    Вид събитие
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item" asp-controller="Location" asp-action="Index">
                                    Локации
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item" asp-controller="Admin" asp-action="PendingUsers">
                                    Потребители
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item" asp-controller="Admin" asp-action="Index">
                                    Админ панел
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item" asp-controller="Performance" asp-action="Tickets">
                                    Заявки билети
                                </a>
                            </li>

                        </ul>
                    </div>
                }
            </div>

            <div class="nav-right">
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container">
            &copy; 2026 - DeStaProduction
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

