@using Microsoft.AspNetCore.Identity
@using DeStaProduction.Infrastucture.Entities
@inject SignInManager<DeStaUser> SignInManager
@inject UserManager<DeStaUser> UserManager

<div class="user-panel">

    @if (SignInManager.IsSignedIn(User))
    {
        <div class="user-info">

            <div class="avatar">
                @User.Identity?.Name?.Substring(0, 1).ToUpper()
            </div>

          

            <form asp-area="Identity"
                  asp-controller="User"
                  asp-action="Logout"
                  asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">

                <button type="submit" class="logout-btn">
                    Излизане
                </button>
            </form>

        </div>
    }
    else
    {
        <a class="nav-link custom-link"
           asp-area="Identity"
           asp-controller="User"
           asp-action="Register">
            Регистрация
        </a>

        <a class="nav-link custom-link"
           asp-area="Identity"
           asp-controller="User"
           asp-action="Login">
            Влез
        </a>
    }

</div>